[mysqld]
# ポート番号
port = 3306

# サーバーが使用する最大メモリ量
innodb_buffer_pool_size = 1G

# 同時に開くことができるテーブルの数
table_open_cache = 2000

# クライアントからの接続要求を待機するバックログの数
back_log = 50

# クライアント接続の最大数
max_connections = 200

# スレッドキャッシュのサイズ
thread_cache_size = 50

# クエリキャッシュのサイズ
query_cache_size = 0

# クエリキャッシュのタイプ
query_cache_type = 0

# テンポラリテーブルをディスクに書き出す前にメモリ内で使用する最大サイズ
tmp_table_size=32M

# テンポラリテーブルをディスクに書き出す前にメモリ内で使用する最大サイズ
max_heap_table_size=32M

# スロークエリログの設定
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 1